.document{
    font-family: 'Advent Pro', sans-serif;
    height: 200px;
    width: 350px;
}

.docTitle{
    text-align: left;
}

.mainContent .announcement{
    display: flex;
    flex-direction: column;
}

.docContent{
    display: flex;
    flex-direction: column;
}

.docContent p{
    margin-bottom: 40px;
}

.docContent a{
    align-self: center;

    text-decoration: none;
    background: linear-gradient(to right, #3F738D, #63D4D8);

    padding: 10px;

    color: #F0F4F4;

    border-radius: 20px;
    box-shadow: 3px 3px 3px 0px black;
}

.docContent a:hover{
    align-self: center;

    text-decoration: none;
    background: linear-gradient(to right, #1B3640, #3F738D);

    padding: 10px;

    color: #63D4D8;
    font-size: 17px;

    border-radius: 20px;
    box-shadow: 3px 3px 3px 0px black;
}